<div class="row">

  <div class="col-md-5 mx-auto p-2">

    <div class="card text-center bg-dark text-white">
      <div class="card-header">
        <h3>New Link</h3>
      </div>
      <div class="card-body">
        <form action="/links/new-link" method="POST">
          <div class="form-group">
            <input
              type="text"
              name="title"
              class="form-control bg-dark text-white"
              placeholder="Title"
              value="{{title}}"
              id=""
            />
          </div>

          <div class="form-group">
            <input
              type="url"
              name="url"
              class="form-control bg-dark text-white"
              placeholder="Link"
              value="{{url}}"
              id=""
            />
          </div>

          <div class="form-group">
            <textarea
              name="description"
              id=""
              placeholder="Description"
              class="form-control bg-dark text-white"
            >{{description}}</textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>